In [5]:
from __future__ import division, print_function
__author__ = 'tma CUSP 2017'
import os
import numpy as np
from numpy.random import randn
import pylab as pl
import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd

PUIdata = os.getenv("PUIDATA") # get environmental variable DFDATA
print (PUIdata) # /gws/open/NYCOpenData/nycopendata/data/

/home/cusp/tma353/PUIdata

In [7]:
data_taxi = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/iux8-53rc/1414246037/iux8-53rc')

In [8]:
data_taxi.head()

,License Number,Name of Licensee,License Type,License Expiration Date
0,4511,"MCKENNA,BERNARD",Medallion Taxi Driver,01/31/2012 08:00:00 AM +0000
1,4832,"MERMELSTEIN,JOSEF",Medallion Taxi Driver,02/28/2013 08:00:00 AM +0000
2,7022,"LOCASCIO,SALVATORE,D",Medallion Taxi Driver,02/13/2013 08:00:00 AM +0000
3,9193,"NUNEZ,ROLANDO",Medallion Taxi Driver,02/21/2012 08:00:00 AM +0000
4,9909,"GIKAS,NICKOLAS",Medallion Taxi Driver,02/24/2012 08:00:00 AM +0000

In [9]:
data_taxi.drop(['Name of Licensee', 'License Type'], 
                axis=1, inplace=True)

In [10]:
data_taxi.head()

   License Number       License Expiration Date
0            4511  01/31/2012 08:00:00 AM +0000
1            4832  02/28/2013 08:00:00 AM +0000
2            7022  02/13/2013 08:00:00 AM +0000
3            9193  02/21/2012 08:00:00 AM +0000
4            9909  02/24/2012 08:00:00 AM +0000

In [11]:
data_taxi.columns.values

array(['License Number', 'License Expiration Date'], dtype=object)

In [21]:
data_taxi.df.plot(x='License Number',y='License Expiration Date', rot=90)
# plt.title("Taxi License Expiration Timeline")

AttributeError: 'DataFrame' object has no attribute 'df'